<template>
  <v-layout row>
    <v-flex>
      <v-card>
        <v-toolbar color="pink" dark>
<!--           <v-toolbar-side-icon></v-toolbar-side-icon>
 -->          <v-toolbar-title>cmon, bet me!</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon>
            <v-icon>search</v-icon>
          </v-btn>
          <!-- <v-btn icon>
            <v-icon>check_circle</v-icon>
          </v-btn> -->
        </v-toolbar>
        <v-list two-line>
          <template v-for="(item, index) in items">
            <v-list-tile
              avatar
              ripple
              @click="toggle(index)"
              :key="item.title"
            >
              <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                <v-list-tile-sub-title class="grey--text text--darken-4">{{ item.headline }}</v-list-tile-sub-title>
                <v-list-tile-sub-title>{{ item.subtitle }}</v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-list-tile-action-text>{{ item.action }}</v-list-tile-action-text>
                <v-icon
                  color="grey lighten-1"
                  v-if="selected.indexOf(index) < 0"
                >star_border</v-icon>
                <v-icon
                  color="yellow darken-2"
                  v-else
                >star</v-icon>
              </v-list-tile-action>
            </v-list-tile>
            <v-divider v-if="index + 1 < items.length" :key="item.title"></v-divider>
          </template>
        </v-list>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          title: 'hi',
          headline: 'ho',
          subtitle: 'no',
          action: 'add',
        },
      ],
      selected: [],
    };
  },
  methods: {
    toggle(idx) {
      console.log('toggle what', idx); // eslint-disable-line no-console
    },
  },
  watch: {
    $route(to, from) {
      console.log(to, from, this.$route); // eslint-disable-line no-console
    },
  },
};
</script>

<!-- @todo sass -->
<style scoped>

</style>