<template>
  <v-app>
    <router-view></router-view>
  </v-app>

</template>

<script>
export default {
  data: () => ({
    drawer: null,
    // drawerRight: null,
    // right: null,
    left: null,
  }),
  props: {
    source: String,
  },
};
</script>

<style>
</style>
